<div class="wrapper">
    <!-- sidebar -->
   <app-sidebar/>
   <!-- end sidebar -->
    <div class="main-panel">
      <!-- Navbar -->
     <app-navbar/>
      <!-- End Navbar -->
      <div class="content" style="background-color: #2b343f;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
             <router-outlet/>
            </div>
          </div>
        </div>
      </div>
     <!-- footer -->
     <!-- <app-footer></app-footer> -->
     <!-- end footer -->
    </div>
  </div>
 